cluster:
  domain: example.com
  name: mysno
  profile: ran

host:
  interface: ens1f0
  hostname: mysno.example.com
  mac: b4:96:91:b4:9d:f0
  ipv4:
    enabled: true
    ip: 192.168.1.100
    dns:
      - 192.168.1.1
    gateway: 192.168.1.1
    prefix: 24
    machine_network_cidr: 192.168.1.0/24
  disk: /dev/disk/by-path/TO-BE-CHANGED

container_storage:
  enabled: true
  device: /dev/disk/by-path/TO-BE-CHANGED
  startMiB: 500000
  sizeMiB: 0

bmc:
  address: 192.168.1.200
  username: Administrator
  password: password

iso:
  address: http://192.168.1.10/iso/mysno.iso

pull_secret: ${HOME}/pull-secret.json
ssh_key: ${HOME}/.ssh/id_rsa.pub

proxy:
  enabled: false
  http:
  https:
  noproxy:

cluster_tunings:
  excludes:
    - crun
    - sctp

node_tunings:
  performance_profile:
    spec:
      net:
        userLevelNetworking: true
      cpu:
        isolated: 2-31,34-63
        reserved: 0-1,32-33
      hardwareTuning:
        isolatedCpuFreq: 2500000
        reservedCpuFreq: 2500000

operators:
  lvm:
    data:
      disks:
        - path: /dev/disk/by-path/pci-0000:c3:00.0-nvme-1
          wipe_table: true
      device_classes:
        - name: vg1
          thin_pool_name: thin-pool-1
          selector:
            paths:
              - /dev/disk/by-path/pci-0000:c3:00.0-nvme-1

