---
apiVersion: tuned.openshift.io/v1
kind: Tuned
metadata:
 name: performance-patch
 namespace: openshift-cluster-node-tuning-operator
spec:
 profile:
   - name: performance-patch
     data: |
       [main]
       summary=Configuration changes profile inherited from performance created tuned
       include=openshift-node-performance-{{ ( node_tunings.performance_profile.name)  or 'openshift-node-performance-profile' }}
       {% if node_tunings and node_tunings.tuned_profile.cmdline_pstate -%}
       [bootloader]
       cmdline_pstate={{ node_tunings.tuned_profile.cmdline_pstate }}
       {% endif -%}
       [sysctl]
       kernel.timer_migration=1
       [scheduler]
       group.ice-ptp=0:f:10:*:ice-ptp.*
       {% if node_tunings and node_tunings.tuned_profile.sysfs and node_tunings.tuned_profile.sysfs.cpufreq_max_freq -%}
       [sysfs]
       /sys/devices/system/cpu/cpufreq/policy*/scaling_max_freq={{ node_tunings.tuned_profile.sysfs.cpufreq_max_freq }}
       {% endif -%}
       [service]
       service.stalld=start,enable
       {% if operators and node_tunings.ptp.ptpconfig != 'disabled' -%}
       service.chronyd=stop,disable
 recommend:
   - machineConfigLabels:
       machineconfiguration.openshift.io/role: "master"
     priority: 19
     profile: performance-patch       
       {%else %}
 recommend:
   - machineConfigLabels:
       machineconfiguration.openshift.io/role: "master"
     priority: 19
     profile: performance-patch
       {% endif -%}


