---
apiVersion: tuned.openshift.io/v1
kind: Tuned
metadata:
  name: performance-patch
  namespace: openshift-cluster-node-tuning-operator
spec:
  profile:
    - name: performance-patch
      data: |
        [main]
        summary=Configuration changes profile inherited from performance created tuned
        include=openshift-node-performance-{{ (spec and spec.performance_profile_name)  or 'openshift-node-performance-profile' }}
        {% if spec and spec.cmdline_pstate -%}
        [bootloader]
        cmdline_pstate={{ spec.cmdline_pstate }}
        {% endif -%}
        [sysctl]
        kernel.timer_migration=1
        [scheduler]
        group.ice-ptp=0:f:10:*:ice-ptp.*
        group.ice-gnss=0:f:10:*:ice-gnss.*
        group.ice-dplls=0:f:10:*:ice-dplls.*
        {% if spec and spec.sysfs and spec.sysfs.cpufreq_max_freq -%}
        [sysfs]
        /sys/devices/system/cpu/cpufreq/policy*/scaling_max_freq={{ spec.sysfs.cpufreq_max_freq }}
        {% endif -%}
        [service]
        service.stalld=start,enable
        service.chronyd=stop,disable
  recommend:
    - machineConfigLabels:
        machineconfiguration.openshift.io/role: "master"
      priority: {{ (spec and spec.priority) or 19 }}
      profile: performance-patch


