---
apiVersion: performance.openshift.io/v2
kind: PerformanceProfile
metadata:
 name: {{ day2.performance_profile | default('openshift-node-performance-profile') }}
spec:
 realTimeKernel:
   enabled: true
 cpu:
   isolated: "{{ cpu.isolated }}"
   reserved: "{{ cpu.reserved }}"
 hugepages:
   defaultHugepagesSize: 1G
   pages:
     - count: 32
       size: 1G
 additionalKernelArgs:
   - rcupdate.rcu_normal_after_boot=0
   - nohz_full={{ cpu.reserved }}
 machineConfigPoolSelector:
   pools.operator.machineconfiguration.openshift.io/master: ""
 nodeSelector:
   node-role.kubernetes.io/master: ""
 numa:
   topologyPolicy: single-numa-node