---
apiVersion: ptp.openshift.io/v1
kind: PtpOperatorConfig
metadata:
  name: default
  namespace: openshift-ptp
spec:
  daemonNodeSelector:
    node-role.kubernetes.io/master: ""
  ptpEventConfig:
    enableEventPublisher: {{ enable_ptp_event | default(false) |lower }}
    {% if event_api_version is defined -%}
    apiVersion: "{{ event_api_version }}"
    {%- endif %}
