---
apiVersion: ptp.openshift.io/v1
kind: PtpOperatorConfig
metadata:
  name: default
  namespace: openshift-ptp
spec:
  daemonNodeSelector:
    node-role.kubernetes.io/master: ""
  ptpEventConfig:
    enableEventPublisher: true
    {% if day2.ptp.event_api_version is defined -%}
    apiVersion: "{{ day2.ptp.event_api_version }}"
    {%- endif %}
