{% set default_source='redhat-operators' -%}
{% for item in customs|select(attribute='provide', value='redhat-operators') -%}
  {% set default_source=item.name -%}
{% endfor -%}
---
apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: lvms-operator
  namespace: openshift-storage
spec:
  name: lvms-operator
  source: {{ source | default(default_source) }}
  sourceNamespace: openshift-marketplace
  {% if version is not none -%}
  startingCSV: {{ version }}
  installPlanApproval: Manual
  {% else -%}
  installPlanApproval: Automatic
  {%- endif %}
