---
apiVersion: v1alpha1
kind: AgentConfig
metadata:
  name: $CLUSTERNAME
rendezvousIP: $NODEIP
hosts:
  - hostname: $HOSTNAME
    interfaces:
      - name: ens1f0
        macAddress: $MACADDRESS
    rootDeviceHints:
      deviceName: $DISKHINT
    networkConfig:
      interfaces:
        - name: ens1f0
          type: ethernet
          state: up
          mac-address: $MACADDRESS
          ipv4:
            enabled: true
            address:
              - ip: $NODEIP
                prefix-length: $NODEIPPREFIX
            dhcp: false
      dns-resolver:
        config:
          server:
            - $DNSSERVER
      routes:
        config:
          - destination: 0.0.0.0/0
            next-hop-address: $GATEWAY
            next-hop-interface: ens1f0
            table-id: 254