---
apiVersion: v1alpha1
kind: AgentConfig
metadata:
  name: {{ cluster.name }}
{% if host.ipv4 is defined and host.ipv4.enabled -%}
rendezvousIP: {{ host.ipv4.ip }}
{% else -%}
rendezvousIP: {{ host.ipv6.ip }}
{% endif -%}
{% if cluster.ntps is defined -%}
additionalNTPSources:
{% for ntp in cluster.ntps -%}
- {{ ntp }}
{% endfor -%}
{% endif -%}
hosts:
  - hostname: {{ host.hostname }}
    interfaces:
      - name: {{ host.interface }}
        macAddress: {{ host.mac }}
    rootDeviceHints:
      deviceName: {{ host.disk }}
    networkConfig:
      {% if host.vlan is defined and host.vlan.enabled -%}
      interfaces:
        - name: {{ host.vlan.name }}
          type: vlan
          state: up
          vlan:
            base-iface: {{ host.interface }}
            id: {{ host.vlan.id }}
          {% if host.ipv4 is defined and host.ipv4.enabled -%}
          ipv4:
            enabled: true
            {% if not host.ipv4.dhcp -%}
            address:
              - ip: {{ host.ipv4.ip }}
                prefix-length: {{ host.ipv4.prefix }}
            {% endif -%}
            dhcp: {{ host.ipv4.dhcp|lower }}
          {% else %}
          ipv4:
            enabled: false
          {% endif -%}
          {% if host.ipv6 is defined and host.ipv6.enabled -%}
          ipv6:
            enabled: true
            {% if not host.ipv6.dhcp -%}
            address:
              - ip: {{ host.ipv6.ip }}
                prefix-length: {{ host.ipv6.prefix }}
            {% endif -%}
            dhcp: {{ host.ipv6.dhcp|lower }}
          {% else %}
          ipv6:
            enabled: false
          {% endif %}
      dns-resolver:
        config:
          server:
            {% if host.ipv4 is defined and host.ipv4.enabled -%}
            - {{ host.ipv4.dns }}
            {% endif -%}
            {% if host.ipv6 is defined and host.ipv6.enabled -%}
            - {{ host.ipv6.dns }}
            {% endif %}
      routes:
        config:
          {% if host.ipv4 is defined and host.ipv4.enabled -%}
          - destination: 0.0.0.0/0
            next-hop-address: {{ host.ipv4.gateway }}
            next-hop-interface: {{ host.vlan.name }}
            table-id: 254
          {% endif %}
          {% if host.ipv6 is defined and host.ipv6.enabled -%}
          - destination: ::/0
            next-hop-address: {{ host.ipv6.gateway }}
            next-hop-interface: {{ host.vlan.name }}
            table-id: 254
          {% endif %}
      {% else -%}
      interfaces:
        - name: {{ host.interface }}
          type: ethernet
          state: up
          {% if host.ipv4 is defined and host.ipv4.enabled -%}
          ipv4:
            enabled: true
            {% if not host.ipv4.dhcp -%}
            address:
              - ip: {{ host.ipv4.ip }}
                prefix-length: {{ host.ipv4.prefix }}
            {% endif -%}
            dhcp: {{ host.ipv4.dhcp|lower }}
          {% else %}
          ipv4:
            enabled: false
          {% endif -%}
          {% if host.ipv6 is defined and host.ipv6.enabled -%}
          ipv6:
            enabled: true
            {% if not host.ipv6.dhcp -%}
            address:
              - ip: {{ host.ipv6.ip }}
                prefix-length: {{ host.ipv6.prefix }}
            {% endif -%}
            dhcp: {{ host.ipv6.dhcp|lower }}
          {% else %}
            ipv6:
              enabled: false
          {% endif %}
      dns-resolver:
        config:
          server:
            {% if host.ipv4 is defined and host.ipv4.enabled -%}
            - {{ host.ipv4.dns }}
            {% endif -%}
            {% if host.ipv6 is defined and host.ipv6.enabled -%}
            - {{ host.ipv6.dns }}
            {% endif %}
      routes:
        config:
          {% if host.ipv4 is defined and host.ipv4.enabled -%}
          - destination: 0.0.0.0/0
            next-hop-address: {{ host.ipv4.gateway }}
            next-hop-interface: {{ host.interface }}
            table-id: 254
          {% endif -%}
          {% if host.ipv6 is defined and host.ipv6.enabled -%}
          - destination: ::/0
            next-hop-address: {{ host.ipv6.gateway }}
            next-hop-interface: {{ host.interface }}
            table-id: 254
          {% endif -%}

      {% endif -%}

