apiVersion: v1
baseDomain: {{ cluster.domain }}
compute:
- name: worker
  replicas: 0
controlPlane:
  name: master
  replicas: 1
metadata:
  name: {{ cluster.name }}
networking:
  networkType: OVNKubernetes
  clusterNetwork:
  - cidr: {{ host.cluster_network_cidr | default('10.128.0.0/14') }}
    hostPrefix: {{ host.cluster_network_host_prefix | default('23') }}
  serviceNetwork:
    - {{ host.service_network | default('172.30.0.0/16') }}
  machineNetwork:
  - cidr: {{ host.machine_network_cidr }}
{% if proxy.enabled -%}
proxy:
  httpProxy: {{ proxy.http }}
  httpsProxy: {{ proxy.https }}
  noProxy: {{  proxy.noproxy }}
{% endif -%}
platform:
  none: {}
pullSecret: '{{ environ('pull_secret') }}'
sshKey: '{{ environ('ssh_key') }}'