apiVersion: machineconfiguration.openshift.io/v1
kind: MachineConfig
metadata:
  labels:
    machineconfiguration.openshift.io/role: master
  name: 60-prepare-lso-partition
spec:
  config:
    ignition:
      version: 3.2.0
    storage:
      disks:
        - device: /dev/disk/by-path/{{ isk_by_path }}
          wipeTable: true
          partitions:
            {% set ns = namespace(part_ind = 0) -%}
            {% for part_size,part_count in partitions | dictsort -%}
            {% set part_size_mb = part_size[:-1] | int -%}
            {% if part_size[-1] == 'g' -%}
              {% set part_size_mb = part_size_mb * 1024 -%}
            {% endif -%}
            {% for count in range(part_count) -%}
            {% set ns.part_ind = ns.part_ind + 1 -%}
            - number: {{ ns.part_ind }}
              sizeMiB: {{ part_size_mb }}
              startMib: 0
              wipePartitionEntry: true
            {% endfor -%}
            {% endfor %}
      filesystems:  
        {% set ns = namespace(part_ind = 0) -%}
        {% for part_size,part_count in partitions | dictsort -%}
        {% for count in range(part_count) -%}
        {% set ns.part_ind = ns.part_ind + 1 -%} 
        - device: '/dev/disk/by-path/{{ disk_by_path }}-part{{ns.part_ind}}'
          format: {{ fs_type | default('xfs') }}
          wipeFilesystem: true
        {% endfor -%}
        {% endfor %}
