apiVersion: machineconfiguration.openshift.io/v1
kind: MachineConfig
metadata:
  labels:
    machineconfiguration.openshift.io/role: master
  name: 60-create-lvs
spec:
  config:
    ignition:
      version: 3.2.0
    storage:
      disks:
        - device: /dev/disk/by-path/{{ environ('DISK') }}
          wipeTable: true
      files:
      - contents:
          source: data:;base64,{{ environ('CREATE_LVS_FOR_SNO') }}
        mode: 493
        overwrite: true
        path: /usr/local/bin/create_lvs_for_lso.sh
    systemd:
      units:
      - contents: |
          [Unit]
          Description=Create LVs Required for LSO
          After=local-fs.target
          [Service]
          Type=oneshot
          ExecStart=/usr/local/bin/create_lvs_for_lso.sh '{{ environ('DISK') }}' '{{ environ('LVS') }}'
          RemainAfterExit=yes
          [Install]
          WantedBy=multi-user.target
        enabled: true
        name: create-lvs-for-lso.service
