---
apiVersion: performance.openshift.io/v2
kind: PerformanceProfile
metadata:
 name: {{ node_tunings.performance_profile.name or 'openshift-node-performance-profile' }}
spec:
 realTimeKernel:
   enabled: {{ node_tunings.performance_profile.real_time |default(true) | lower }}
 cpu:
   isolated: "{{ cpu.isolated }}"
   reserved: "{{ cpu.reserved }}"
 {% if (node_tunings.performance_profile.hugepage is defined and node_tunings.performance_profile.hugepage.enabled) -%}
 hugepages:
   defaultHugepagesSize: {{ (node_tunings.performance_profile.hugepage and node_tunings.performance_profile.hugepage.default) or '1G' }}
   pages:
     {% if (node_tunings.performance_profile.hugepage and node_tunings.performance_profile.hugepage.pages) -%}
     {% for page in node_tunings.performance_profile.hugepage.pages %}
     - size: {{ page.size }}
       count: {{ page.count }}
       {%- if page.node is defined %}
       node: {{ page.node }}
       {% endif -%}
     {% endfor -%}
     {% else -%}
     - count: 32
       size: 1G
     {%- endif %}
 {%- endif %}
 additionalKernelArgs:
  - "rcupdate.rcu_normal_after_boot=0"
  - "efi=runtime"
  {% if (operators.fec and operators.fec.enabled) -%}
  - "vfio_pci.enable_sriov=1"
  - "vfio_pci.disable_idle_d3=1"
  {%- endif %}
  {% if (node_tunings.performance_profile.additional_kernel_args) -%}
  {% for arg in node_tunings.performance_profile.additional_kernel_args -%}
  - "{{ arg }}"
  {% endfor -%}
  {% else -%}
  - "module_blacklist=irdma"
  {%- endif %}
 machineConfigPoolSelector:
   pools.operator.machineconfiguration.openshift.io/master: ""
 nodeSelector:
   node-role.kubernetes.io/master: ""
 numa:
   topologyPolicy: {{ (node_tunings.performance_profile.numa and node_tunings.performance_profile.numa.policy) or 'restricted' }}
 {% if node_tunings.performance_profile.net and node_tunings.performance_profile.net.user_level_networking -%}
 net:
   userLevelNetworking: {{ node_tunings.performance_profile.net.user_level_networking | lower }}
 {% endif -%}
 workloadHints:
   # WorkloadHints defines the set of upper level flags for different type of workloads.
   # See https://github.com/openshift/cluster-node-tuning-operator/blob/master/docs/performanceprofile/performance_profile.md#workloadhints
   # for detailed descriptions of each item.
   # The configuration below is set for a low latency, performance mode.
   realTime: true
   highPowerConsumption: false
   perPodPowerManagement: false
 {% if node_tunings.performance_profile.hardwareTuning -%}
 hardwareTuning:
   isolatedCpuFreq: {{ node_tunings.performance_profile.hardwareTuning.isolatedCpuFreq }}
   reservedCpuFreq: {{ node_tunings.performance_profile.hardwareTuning.reservedCpuFreq }}
 {% endif -%}



